body {
    width: 100%;
    font-size: 16px;
    font-family: serif;
}

.container {
    margin-top: 50px;
}

.list-group-item {
    cursor: pointer;
	border: solid;
	margin: 2px;
}

.list-group-item:not(.no-hover):hover {
    background-color: #aaadab;
}

.report-list-group-item {
	border: solid;
	margin: 2px;
	display: block;
}

.correct {
    background-color: #289a27;
}

.incorrect {
    background-color: #c41a21;
}

.buttons {
    padding: 10px 10px 10px 0;
	display: none;
}

.timer {
	text-align: center;
	font-size: 50px;
	font-family: serif;
}


#myProgress {
  width: 100%;
  background-color: grey;
}

#myBar {
  width: 100%;
  height: 30px;
  background-color: #289a27;
}